<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Navi48Bringup</string>
	<key>CFBundleIdentifier</key>
	<string>com.navi48.bringup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Navi48Bringup</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.620</string>
	<key>CFBundleVersion</key>
	<string>0.0.620</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Navi48AccelPeer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.navi48.bringup</string>
			<key>IOClass</key>
			<string>Navi48AccelPeer</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x75501002 0x75511002</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Navi48AppleAccelExperiment</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX6000</string>
			<key>IOClass</key>
			<string>AMDRadeonX6000_AMDNavi21GraphicsAccelerator</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x75501002 0x75511002</string>
			<key>IOPersonalityPublisher</key>
			<string>com.navi48.bringup</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Navi48AppleHWServices</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX6000HWServices</string>
			<key>IOClass</key>
			<string>AMDRadeonX6000_AMDRadeonHWServicesNavi</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonX6000HWServices</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x75501002 0x75511002</string>
			<key>IOPersonalityPublisher</key>
			<string>com.navi48.bringup</string>
			<key>IOProbeScore</key>
			<integer>65051</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Navi48Bringup</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.navi48.bringup</string>
			<key>IOClass</key>
			<string>Navi48Bringup</string>
			<key>IOMatchCategory</key>
			<string>Navi48Bringup</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x75501002 0x75511002</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>20.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
